
section.section_three {
	padding:177px 0;
	background: #fff;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	.inner_section_three {
		max-width:1660px;
		margin:0 auto;
	}
}


.title_wrapper {
	text-align: center;
	h1 {
		font-family:$actaextrabold;
		font-size:120px;
		color:$letterblue;
		line-height: 70px;
		display: block;
		
	}
	h2 {
		color:$brown;
		text-transform: uppercase;
		font-family: $librebold;
		font-size:22px;
		display: block;
		margin:65px auto;
		letter-spacing: 6px;
	}
}


.section_three_image_wrapper {
	float:left;
	margin-right:123px;
	letter-spacing: 0;
}



.blockquote_wrapper {
	float:left;
	margin-top:34px;
	margin-left:-60px;
	margin-bottom:45px;
// 	width:calc(100% - 750px);
	.image_wrapper {
		border-top:1px solid $brown;
		border-bottom:1px solid $brown;
		padding:65px 10px 60px;
		float:left;
		width:183px;
		margin-right:18px;
		
		img {
			display: block;
			max-width:100%;
			height:auto;
		}
	}
	span.text_wrapper {
		font-size: 45px;
		color: $brown;
		font-family:$actabold;
		line-height: 60px;
		margin-top: 50px;
		display: block;
// 		float:left;
	
	}
}




.desktop_content_wrap {
	width:calc(100% - 783px);
	//width:40%;
	float:left;
}