section.section_two {
	background:$off_white_two;
	.inner_section_two {
		height:940px;
		overflow: hidden;
	}
}

.settlements_wrapper {
	width:45%;
	height:100%;
	padding-left:45px;
	float:left;
}

.settlement_slideshow_wrapper {
	text-align: center;
	padding:72px 0 0;
	float:right;
	width:100%;
	height: 100%;
	max-width:785px;
	position: relative;
}

.desktop_grey_bg {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	.desktop_inner_grey {
		width:84%;
		height:100%;
		background:$off_white_one;
		margin:0 auto;
	}
}

.settlement_slideshow {
	border:1px solid $brown;
	position: relative;
	z-index: 1;
	.slick-dots {
		bottom: 118px;
		li.slick-active {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li {
			margin:0;
			button {
				&:before {
					opacity: 1;
					color: $lightblue_one;
					font-size:9px;
				}
			}
		}
	}
}



.section_two {
	.settlement_slideshow {
		opacity: 0;
	}
}


.section_two.animate {
	.settlement_slideshow {
		animation-name: slideshow_fade, slideshow_move;
		animation-duration: 700ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 500ms;
	}
}



@keyframes slideshow_fade {
  from {
    opacity: 0;
 	
 		
  }

  to {
    opacity: 1;
   
    
  }
}



@keyframes slideshow_move {
  from {
   transform: translateY(-100px);
 	}

  to {
    transform: translateY(0px);
   }
}











.settlement_slides {
	padding:152px 20px 225px;
	.slide_icon {
		width:129px;
		margin-right:-55px;
		display: inline-block;
	}
	span.sett_amount {
		display: block;
		font-family: $actabold;
		font-size:85px;
		color:$lightblue_one;
		margin-top:33px;
	}
	span.brown_line {
		width: 51px;
		height:1px;
		background: $brown;
		display: inline-block;
		margin-top:29px;
	}
	span.sett_type {
		display: block;
		color:$brown;
		text-transform: uppercase;
		font-family: $libreblack;
		font-size:14px;
		letter-spacing: 6.5px;
		margin-top:33px;
	}
}

.slick-dotted.slick-slider {
	margin-bottom: 27px;
}


a.view_more {
	display: inline-block;
	background: #fff;
	text-decoration: none;
	color:$lightblue_one;
	font-family: $libreblack;
	text-transform: uppercase;
	font-size:12px;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.42);
	margin-top:0px;
	padding:31px 40px;
	letter-spacing: 5px;
	line-height: 1;
	transition: all .2s ease-in-out;
	position: relative;
	z-index: 1;
	&:hover {
		background:$lightblue_one;
		color:#fff;
	}
}


a.view_more.mobile {
	display: none;
}









// News



.news_wrapper {
	width:55%;
	height:100%;
	float:right;
	padding-top:115px;
	padding-left:10%;
	.inner_news_wrapper {
		
	}
}

span.firm_news_title {
	text-transform: uppercase;
	font-family:$libreblack;
	font-size:14px;
	color:$brown;
	letter-spacing: 7px;
	display: block;
	padding-bottom: 21px;
	// border-bottom:2px solid $brown;
	position: relative;
	
	transform: translateX(300px);
	opacity: 0;
	&:after {
		content:"";
		width:100%;
		height:2px;
		background: $brown;
		display: block;
		position: absolute;
		top:35px;
		
		
	}
	&:before {
		content:"............................................................................................................................................................................................................................................................";
		display: block;
		position: absolute;
		top:0;
		left:165px;
		font-size:8px;
		color:#2a2728;
		letter-spacing: 2.2px;
		
		opacity: 0;
	}
}




.section_two.animate {
	span.firm_news_title {
		animation-name: firm_title_move, firm_title_fade;
		animation-duration: 1500ms, 500ms;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(.17,.66,.34,.98), linear;
		&:before {
			animation-name: dot_fade;
			animation-duration: 700ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-delay: 1100ms;
		}
	}
}





@keyframes firm_title_move {
  from {
    transform: translateX(300px);
 		
  }

  to {
    transform: translateX(0px);
    
  }
}


@keyframes firm_title_fade {
  from {
    opacity: 0;
 	}

  to {
    opacity: 1;
   }
}

@keyframes dot_fade {
  from {
    opacity: 0;
 	}

  to {
    opacity: 1;
   }
}









.news_feed {
	margin-top:38px;
}

.single_news_wrapper {
	overflow: hidden;
	display: block;
// 	background: blue;
	padding:56px 0 35px;
// 	border-bottom: 1px solid #fff;
	&:first-of-type {
		.news_logo {
			img {
				// max-width:195px;
			}
		}
	}
}

.news_logo {
	width:32%;
	float:left;
// 	background: red;
	display: flex;
  justify-content: center;
  align-items: center; 
	height:107px;
	border-right:1px solid $brown;
	img {
		max-width: 100%;
		height:auto;
	}
}


.news_content_wrapper {
	display: table;
  height:100%;
  width:68%;
  float:left;
  max-width:477px;
  
  padding-left:6%;
//   padding-bottom:5px;
  .centered_wrapper {
		display: table-cell;
		vertical-align: middle;
		span.news_date {
			display: block;
			font-family: $librebold;
			color:$lightblue_two;
			font-size:15px;
			margin-bottom: 22px;
			letter-spacing: 0.5px;
		}
		span.news_title {
			font-size: 25px;
			color:$darkblue;
			font-family: $actamedium;
			line-height: 35px;
		}
	}
}



@media screen and (max-width: 1690px) {
	
	
	
	.news_logo {
		width:272px;
	}
	
	.news_content_wrapper {
		width:calc(100% - 272px);
	}
	
	
	.single_news_wrapper {
		padding-right:70px;
	}
	
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	

.section_two {
	.settlement_slideshow {
		opacity: 1;
	}
}


.section_two.animate {
	.settlement_slideshow {
		animation-name: none;
		
	}
}


span.firm_news_title {
	opacity: 1;
	transform: none;
}




.section_two.animate {
	span.firm_news_title {
		animation-name: none;
	}
}



section.section_two {
	.inner_section_two {
		height:860px;
	}
}
	
	
.settlements_wrapper {
	width:50%;
}

.settlement_slides {
	padding:110px 20px 177px
}
	
.news_wrapper {
	padding-left:40px;
	padding-top:80px;
	width:50%;
}


.settlements_wrapper {
	padding-top:5px;
	padding-left:67px;
	padding-right:67px;
	background:$off_white_one;
}
	
.desktop_grey_bg {
	display: none;
}



.settlement_slideshow {
	
	.slick-dots {
		bottom:70px;
	}
}










a.view_more {
	margin-top:10px;
}

	
	.single_news_wrapper {
		padding-top:36px;
		padding-bottom:36px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1385px) {
	
	.settlements_wrapper {
		width: 40%;
		padding-left: 50px;
    padding-right: 50px;
		
	}
	
	.settlement_slideshow_wrapper {
		padding: 49px 0 0;
	}
	
	.news_wrapper {
		width:60%;
	}   
	
	
	
} /* Media Query */


@media screen and (max-width: 1260px) {
	
	
	
section.section_two {
	.inner_section_two {
		height: 590px;
	}
}
	
	
	
	.settlement_slideshow {
		.slick-dots {
    	bottom: 40px;
    	li {
	    	width: 14px;
	    	button:before {
	    		font-size: 6px;
    		}
    	}
		}
	}
	
	
	
	.settlement_slides {
	  padding: 65px 20px 113px;
	  .slide_icon {
		  width: 89px;
	  }
	  span.sett_amount {
		  font-size:65px;
		  margin-top: 22px;
	  }
	  span.brown_line {
		  margin-top: 16px;
		  width: 37px;
	  }
	  span.sett_type {
		  margin-top: 27px;
		  font-size: 13px;
	  }
	  
	}
	
	.slick-dotted.slick-slider {
    margin-bottom: 16px;
}


a.view_more {
	padding: 25px 40px;
	font-size: 11px;
}
	
	
.single_news_wrapper {
	&:nth-of-type(3) {
		display: none;
	}
}


.news_wrapper {
	padding-top: 74px;
}

.news_content_wrapper {
	max-width: 100%;
	width: calc(100% - 213px);
	.centered_wrapper {
		span.news_date {
			margin-bottom: 11px;
		}
	} 
}

span.firm_news_title {
	font-size: 13px;
}

.news_logo {
  width: 213px;
  img {
	  max-width: 76%;
  }
}
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
	section.section_two {
		.inner_section_two {
    	height: 376px;
		}
	} 
	
	
	.news_wrapper {
		width:50%;
	}
	
	
	.settlements_wrapper {
		width:50%;
		background: $lightblue_one;
		padding:0px 34px;
	}
	
	.settlement_slideshow_wrapper {
		padding: 34px 0;
	}
	
	.settlement_slides {
		padding: 38px 20px 122px;
		.slide_icon {
			display: none;
		}
		span.sett_amount {
			color:#fff;
		}
		.settlement_slides span.brown_line {
    	margin-top: 18px;
		}
		span.sett_type {
			color:#fff;
			font-size:12px;
		}
	}
	
	
	a.view_more {
    margin-top: 0;
    position: relative;
    top: -77px;
    padding:19px 30px;
    &:hover {
	    background: #fff;
	    color:$lightblue_one;
    }
	}
	
	a.view_more.mobile {
		display: inline-block;
	}
	
	a.view_more.desktop {
		display: none;
	}
	
	
	span.firm_news_title {
		display: none;
	}
	
	.news_wrapper {
    padding-top: 0px;
   }
   
   .single_news_wrapper {
    	padding-top: 0px;
    	padding-right: 30px;
    	&:nth-of-type(3) {
	    	display: inline-block;
    	}
   }
   
   
   .news_feed {
    	margin-top: 62px;
   }
   
   .news_logo {
	   border:none;
	   display: block;
		 height: 70px;
		 float:none;
		 width:auto;
	   img {
		   max-width: 153px;
		   max-height: 70px;
			 position: relative;
			 top: 50%;
			 transform: translateY(-50%);
			}
   }
   
   .news_content_wrapper {
	   width:100%;
	   border-left:1px solid $brown;
	   margin-top:20px;
	   .centered_wrapper {
		   span.news_date {
			   font-size:13px;
			   margin-bottom: 14px;
		   }
		   span.news_title {
			   font-size: 22px;
			   line-height: 28px;
		   }
	   }
   }



section.section_two {


.slick-dots {
		bottom: -10px;
		left:-8px;
		li.slick-active {
			button {
				&:before {
					color:$brown;
					opacity: 1;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$brown;
					opacity: 1;
				}
			}
		}
		li {
			margin:0;
			display: block;
			float:left;
			width: 14px;
			button {
			
				&:before {
					opacity: 1;
					color:$lightblue_one;
					font-size:5px;
				}
			}
		}
	}

}




	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	section.section_two {
		.inner_section_two {
			height:auto;
		}
	} 
	
	.settlements_wrapper {
		width:100%;
		float:none;
		padding:0 28px;
		height: 363px;
	}
	
	
	.settlement_slideshow_wrapper {
		padding:28px 0;
	}
	
	.settlement_slides {
    padding: 29px 20px 127px;
	}
	
	
	a.view_more {
		top:-91px;
	}
	
	.news_feed {
		margin-top: 39px;
	}
	    
	
	
	.news_wrapper {
		width:100%;
		float:none;
		padding-left: 23px;
		padding-right: 23px;
	}	
	
	
	.single_news_wrapper {
    padding-bottom: 77px;
	}
	
	
	section.section_two .slick-dots {
    bottom: 11px;
	}
	
	
} /* Media Query */
