section.section_six {
	overflow: hidden;
	
}


.sec_six_press_wrapper {
	background:#f7f7f7;
	width:61%;
	float:left;
}


.sec_six_press_inner {
	height:1028px;
	position: relative;
	
}


.sec_six_content {
	position: relative;
	z-index:5;
	span.press_title {
		display: block;
		font-family: $actabold;
		font-size:122px;
		line-height: 129px;
		color:$letterblue;
		padding:210px 0 0;
		margin-left:25%;
		letter-spacing: 6px;
		span.second_word {
			margin-left:125px;
		}
	}
}

.sec_six_play_wrapper {
	position: relative;
	width:30%;
	margin:-40px 0 0;
	float:left;
	.sec_six_brown_line {
		width:100%;
		height:4px;
		background: $brown;
		position: absolute;
		top:113px;
		left:0;
	}
}


svg#sec_six_play_button {
	width:225px;
	display: block;
	position: relative;
	z-index:1;
	margin:0 auto;
}


.sec_six_subcontent {
	width:60%;
	float:left;
	max-width:523px;
	margin:68px 0 0 12px;
	span.sub_header {
		font-family: $libreblack;
		font-size:15px;
		letter-spacing: 2px;
		color:#4c6775;
		text-transform: uppercase;
		display: block;
		margin:0 0 30px;
		letter-spacing: 4.5px;
	}
	span.large_header {
		border-left:solid 1px $brown;
		padding:0 0 0 20px;
		color:$brown;
		font-family: $actamedium;
		font-size: 38px;
		display: block;
		line-height: 45px;
		letter-spacing: 2px;
	}
}


.press_bg_wrapper {
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	padding-left:15%;
	.press_bg_inner {
		background:#ebedee;
		height:100%;
		width:100%;
		max-width:710px;
		margin:0;
	}
}



.logo_slideshow_wrapper {
	clear:both;
	max-width:775px;
	margin:0px 0 0 18%;
	padding:85px 0 0;
	.logo_slideshow {
		.logo_slide {
			text-align: center;
			
			img {
				display: block;
				margin:0 auto;
				
			}
		}
	}
}


.slick-dots {
	bottom: -65px;
	li.slick-active {
		button {
			&:before {
				color:$brown;
				opacity: 1;
			}
		}
	}
	li:hover {
		button {
			&:before {
				color:$brown;
				opacity: 1;
			}
		}
	}
	li {
		margin:0;
		button {
			
			&:before {
				opacity: 1;
				color:#a3b4b9;
				font-size:8px;
			}
		}
	}
}




.news_image_wrapper {
	background: url(#{$themePath}images/news-img.jpg) top center no-repeat;
	background-size:cover;
	width:39%;
	height:1028px;
	float:right;
}



@media screen and (max-width: 1700px) {
	
	
	.sec_six_content {
		span.press_title {
			margin-left: 13%;
			font-size: 107px;
			line-height: 112px; 
		}
	}
	
	
	.press_bg_wrapper {
    width: 82%;
		padding-left: 17%;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1650px) {
	
	
	.sec_six_subcontent {
		max-width: 375px;
		
	}
	
	
} /* Media Query */

@media screen and (max-width: 1450px) {
	
	
	
	
	.sec_six_press_inner {
    height: 835px;
    position: relative;
	}
	
	
	
	.news_image_wrapper {
		width: 38%;
		height: 835px;
	}
	    
	
	
	.sec_six_subcontent {
		margin: 87px 0 0 12px;
		max-width: 395px;
	}
	
	    
	.logo_slideshow_wrapper {
		 margin: 0px 0 0 16%;
		 padding: 103px 0 0;
	}
	
	
	.sec_six_content {
		
		span.press_title {
			padding: 130px 0 0;
			font-size:85px;
			line-height: 90px;
			margin-left: 18%;
		}
		span.large_header {
			font-size:30px;
			line-height: 35px;
		}
		span.sub_header {
			margin: 0 0 37px;
		}
	}
	
	
	
	.sec_six_play_wrapper {
   	margin: -20px 0 0;
   	width: 36%;
   }
   
   
  .press_bg_wrapper {
    width: 86%;
		padding-left: 22%;
	}
	
	.slick-dots {
    bottom: -46px;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	section.section_six {
		position: relative;
		padding-bottom:290px;
	}
	
	
	.sec_six_press_inner {
		background: $off_white_two;
		position: static;
	}
	
	
	
	.press_bg_wrapper {
		display: none;
	}
	
	
	.news_image_wrapper {
   	width: 39%;
   	height: 586px;
  }
  
  
  .sec_six_content {
	  position: static;// *
	  span.press_title {
		  text-align: right;
		  margin-left: 35px;
		  width: 563px;
		  padding:101px 0 0;
		  span.second_word {
			  margin:0;
		  }
	  }
  } 
  
  
  .sec_six_play_wrapper {
    margin: 17px 0 0;
    width: 33%;
    .sec_six_brown_line {
	    top:84px;
    }
	}


  
  
  svg#sec_six_play_button {
    width: 168px;
		position: relative;
		right:-10px;
   }
   
   
   .sec_six_subcontent {
    margin: 96px 0 0 12px;
   }
   
   
   .logo_slideshow_wrapper {
	   position: absolute;
	   bottom:0px;
	   left:0;
	   width:100%;
	   height: 291px;
	   background:$off_white_one;
	  // display: none; //*
	   // background:red;
	   max-width:100%;
	   margin:0;
	   padding: 71px 0 0;
   }
   
   .logo_slideshow {
	   max-width: 810px;
	   margin:0 auto;
   }
   
   .slick-dots {
    bottom: -61px;
		}
   
   .sec_six_press_inner {
	   height: 586px;
	   
	   // background: blue;
   }
   


	
	
} /* Media Query */





