section.section_four {
	width:100%;
	background:url(images/sp-bkg.jpg) top left no-repeat;
	background-size:cover;
	padding:265px 0 95px;
}



.selling_points_wrapper {
	width:100%;
	max-width:945px;
	margin:0 auto;
	height:610px;
	background: rgba(54, 76, 88, 0.93);
	position: relative;
	
}


.border_wrapper {
	position: absolute;
	top:-27px;
	left:0;
	width:100%;
	height:calc(100% + 54px);
	padding:0 23px;
	.inner_border {
		border:1px solid $brown;
		height:100%;
		width:100%;
	}
}

.selling_point_single_slide {
	text-align: center;
	height:660px;
	svg {
		width:255px;
	}
}


.slide_inner_content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding:0 30px;
}


svg#sunburst_elements {

}

span.slide_count {
	color: #fff;
	display: block;
	font-size: 55px;
	font-family: $actaextrabold;
	letter-spacing: 2px;
	margin: -50px 0 0;
}


span.selling_point_title {
	text-transform: uppercase;
	font-family: $libreblack;
	font-size:15px;
	color:#a1b3c2;
	line-height: 40px;
	letter-spacing: 4.5px;
	margin-top:37px;
	display: block;
}

span.selling_points_content {
	display: block;
	font-size:45px;
	line-height: 62px;
	font-family: $actamedium;
	color:#fff;
	max-width:595px;
	margin:20px auto 0;
}


.selling_points_bullet_wrapper {
	.bullet_slide:hover, .bullet_slide.slick-current {
		span.bullet_slide_title {
			&:after {
				opacity: 1;
			}
		}
		span.bullet_slide_number {
			opacity: 1;
		}
	}
}


.selling_points_bullet_wrapper {
	margin:146px auto 0;
	text-align: center;
	max-width:1300px;
	.bullet_slide {
		text-align: center;
		padding-bottom: 65px;
		cursor: pointer;
		span.bullet_slide_title {
			color:#fff;
			text-transform: uppercase;
			font-family: $libreextrabold;
			font-size:13px; 
			letter-spacing: 5.7px;
			display: inline-block;
			position: relative;
			width:auto;
			&:after {
				content:"";
				width:100%;
				height:4px;
				background: $brown;
				display: inline-block;
				position: absolute;
				bottom:-16px;
				left:-3px;
				opacity: 0;
				transition: all .2s ease-in-out;
			}
		}
		span.bullet_slide_number {
			display: block;
			font-family: $actaextrabold;
			margin-top:34px;
			font-size:26px;
			letter-spacing: 4px;
			color:#fff;
			opacity: 0;
			transition: all .2s ease-in-out;
		}
	}
}


@media screen and (max-width: 1450px) {
	
	section.section_four {
		padding: 167px 0 28px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	section.section_four {
		padding: 132px 70px 6px;
	}
	
	
	.selling_points_wrapper {
    max-width: 945px;
   }
	
	
	.selling_points_bullet_wrapper {
    margin: 115px auto 0;
    max-width: 1085px;
    padding-left:28px;
    padding-right:28px;
    .bullet_slide {
	    
    }
   }
	
	
	
	
} /* Media Query */