.banner {
	//background: url(#{$themePath}images/hero-2000.jpg) top center no-repeat;
	// background-size:cover;
	width:100%;
	height:1020px;
	text-align: center;
	padding-top:470px;
}

.banner_content {
	color: #fff;
	font-size:120px;
	font-family:$actabold;
	letter-spacing: 2px;
	display: block;
	br {
		display: none;
	}
}


	.banner_content {
		animation-name: title_fade, title_move;
		animation-duration: 1000ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);;
		animation-delay: 300ms;
		opacity: 0;
	}




@keyframes title_fade {
  from {
    opacity: 0;
 	}
 	to {
    opacity: 1;
  }
}



@keyframes title_move {
  from {
    transform: translateY(-100px);
 	}
 	to {
   transform: translateY(0px);
  }
}



.begin {
	background: #fff;
	margin-top:43px;
	color:$brown;
	text-decoration: none;
	text-transform: lowercase;
	font-family: $actaextrabold;
	font-size:28px;
	letter-spacing: 0.6px;
	padding:22px 50px;
	box-shadow: 0px 4px 10px 0px rgba(23, 42, 54, 0.76);
	transition: all .2s ease-in-out;
	cursor: pointer;
	&:hover {
		background: $brown;
		color:#fff;
	}
}




	.begin {
		animation-name: button_fade, button_move;
		animation-duration: 1000ms, 1500ms;
		animation-fill-mode: both;
		animation-timing-function: linear, cubic-bezier(.17,.66,.34,.98);
		animation-delay: 1000ms;
		opacity: 0;
	}





@keyframes button_fade {
  from {
    opacity: 0;
 	}
 	to {
    opacity: 1;
  }
}



@keyframes button_move {
  from {
    transform: translateY(-50px);
 	}
 	to {
   transform: translateY(0px);
  }
}





.begin.desktop {
	display: inline-block;
}


.begin.mobile {
	display: none;
}

.scroll_wrapper {
	margin-top:90px;
	opacity: 0;
	span.scroll {
		color:#fff;
		margin-top:28px;
		display: block;
		font-family: $libreblack;
		text-transform: uppercase;
		font-size:10px;
		letter-spacing: 10px;
		
	}
}

.scroll_lines {
	position: relative;
	overflow: hidden;
	width:1px;
	height:50px;
	display: block;
	margin:0 auto;
	span {
		width:100%;
		height:50px;
		display: block;
		position: absolute;
		top:0;
		left:0;
	}
	span.orange_line {
		background: $brown;
	}
	span.white_line {
		background:#fff;
		top:0;
		transform: translateY(-50px);
	}
}




	.scroll_wrapper {
			animation-name: scroll_wrapper_fade;
			animation-duration: 1000ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-delay: 1800ms;
		span.scroll {
			animation-name: scroll_title_move;
			animation-duration: 1700ms;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(.17,.66,.34,.98);
			animation-delay: 1700ms;
		}
	}
	.scroll_lines {
		animation-name: scroll_lines_move;
		animation-duration: 3000ms;
		animation-fill-mode: both;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		// animation-delay: 1000ms;
		transform: translateY(-20px);
		span.white_line {
			animation-name: scroll_line_move;
			animation-duration: 3000ms;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}




@keyframes scroll_lines_move {
  0 {
    transform: translateY(-20px);
  }
  50% {
   	transform: translateY(0px);
  }
  100% {
   	transform: translateY(-20px);
  }
 }


@keyframes scroll_line_move {
  0 {
    transform: translateY(-50px);
  }
 	100% {
   	transform: translateY(50px);
  }
 }
 
 
 
 
 @keyframes scroll_wrapper_fade {
  from {
    opacity: 0;
  }
 	to {
   	opacity: 1;
  }
 }
 
 
 @keyframes scroll_title_move {
  from {
    transform: translateY(-20px);
  }
 	to {
   	transform: translateY(0px);
  }
 }
 


 









@media screen and (max-width: 1450px) {
	
	
	
	.banner {
		padding-top: 326px;
		height:auto;
		min-height: 800px;
	}
	
	.begin {
		margin-top:26px;
	}
	
	.scroll_wrapper {
    margin-top: 69px;
	}
	
	
	

	.banner_content {
		animation-name: none;
		opacity: 1;
	}



	.begin {
		animation-name: none;
		opacity: 1;
	}


	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	.banner {
    padding-top: 267px;
    height: 670px;
    min-height: 0px;
   }
	
	.banner_content {
		font-size: 87px;
		letter-spacing: 1.5px;
	}
	
	.begin {
		font-size: 20.5px;
		margin-top:39px;
		padding: 16px 39px;
	}
	
	.scroll_wrapper {
    margin-top: 41px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	 .banner {
    	padding-top: 251px;
    	height: 531px;
    	background-position: center -30px;
    	background-size: 1440px 734px;
   }
   
	 
	 
	 
	 .banner_content {
		 font-size: 65px;
	 }
	 
	 .begin {
		margin-top: 28px;
	 }
	 
	 
	 .scroll_wrapper {
		 display: none;
	 }
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	

	
	 	.banner {
    	padding-top: 143px;
    	height: 452px;
    	background-position: center -57px;
			background-size: 1000px 510px;
    	margin-top: 140px;
   	}
   
	 
	 
	 
	 .banner_content {
		 font-size: 58px;
		 line-height: 60px;
		 br {
			 display: inline;
		 }
	 }
	 
	 .begin {
		margin-top: 28px;
	 }
	 
	 .begin.desktop {
		 display: none;
	 }
	 
	 .begin.mobile {
		 display: inline-block;
	 }
	 
	 
	 .scroll_wrapper {
		 display: none;
	 }
	
	
	

	
	
	
	
} /* Media Query */
