.banner {
	background: url(#{$themePath}images/hero-2000.jpg) top center no-repeat;
	background-size:cover;
	width:100%;
	height:1020px;
	text-align: center;
	padding-top:470px;
}

.banner_content {
	color: #fff;
	font-size:120px;
	font-family:$actabold;
	letter-spacing: 2px;
	display: block;
}

a.begin {
	display: inline-block;
	background: #fff;
	margin-top:43px;
	color:$brown;
	text-decoration: none;
	text-transform: lowercase;
	font-family: $actaextrabold;
	font-size:28px;
	letter-spacing: 0.6px;
	padding:22px 50px;
	box-shadow: 0px 4px 10px 0px rgba(23, 42, 54, 0.76);
	transition: all .2s ease-in-out;
	&:hover {
		background: $brown;
		color:#fff;
	}
}

.scroll_wrapper {
	margin-top:90px;
	span.scroll {
		color:#fff;
		margin-top:28px;
		display: block;
		font-family: $libreblack;
		text-transform: uppercase;
		font-size:10px;
		letter-spacing: 10px;
	}
}

.scroll_lines {
	position: relative;
	overflow: hidden;
	width:1px;
	height:50px;
	display: block;
	margin:0 auto;
	span {
		width:100%;
		height:50px;
		display: block;
		position: absolute;
		top:0;
		left:0;
	}
	span.orange_line {
		background: $brown;
	}
	span.white_line {
		background:#fff;
		top:20px;
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	.banner {
		padding-top: 326px;
		height:auto;
		min-height: 800px;
	}
	
	a.begin {
		margin-top:26px;
	}
	
	.scroll_wrapper {
    margin-top: 69px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	.banner {
    padding-top: 267px;
    height: 670px;
    min-height: 0px;
   }
	
	.banner_content {
		font-size: 87px;
		letter-spacing: 1.5px;
	}
	
	a.begin {
		font-size: 20.5px;
		margin-top:39px;
		padding: 16px 39px;
	}
	
	.scroll_wrapper {
    margin-top: 41px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	 .banner {
    	padding-top: 241px;
    	height: 531px;
    	background-position: center -30px;
    	background-size: 1440px 734px;
   }
   
	 
	 
	 
	 .banner_content {
		 font-size: 65px;
	 }
	 
	 a.begin {
		margin-top: 28px;
	 }
	 
	 
	 .scroll_wrapper {
		 display: none;
	 }
	
	
	
} /* Media Query */
