section.section_two {
	.inner_section_two {
		height:940px;
	}
}

.settlements_wrapper {
	width:45%;
	height:100%;
	padding-left:45px;
}

.settlement_slideshow_wrapper {
	text-align: center;
	margin:72px 0 0;
	float:right;
	width:100%;
	max-width:785px;
}

.settlement_slideshow {
	border:1px solid $brown;
	
	
	.slick-dots {
		bottom: 124px;
		li.slick-active {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$brown;
				}
			}
		}
		li {
			margin:0;
			button {
				&:before {
					opacity: 1;
					color: $lightblue_one;
					font-size:9px;
				}
			}
		}
	}
}

.settlement_slides {
	padding:152px 20px 225px;
	.slide_icon {
		width:125px;
		margin-right:-55px;
		display: inline-block;
	}
	span.sett_amount {
		display: block;
		font-family: $actabold;
		font-size:85px;
		color:$lightblue_one;
		margin-top:38px;
	}
	span.brown_line {
		width: 51px;
		height:1px;
		background: $brown;
		display: inline-block;
		margin-top:25px;
	}
	span.sett_type {
		display: block;
		color:$brown;
		text-transform: uppercase;
		font-family: $libreblack;
		font-size:14px;
		letter-spacing: 6.5px;
		margin-top:38px;
	}
}


a.view_more {
	display: inline-block;
	background: #fff;
	text-decoration: none;
	color:$lightblue_one;
	font-family: $libreblack;
	text-transform: uppercase;
	font-size:12px;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.42);
	margin-top:26px;
	padding:31px 40px;
	letter-spacing: 5px;
	line-height: 1;
}












