.blog_wrapper {
	margin:65px 0 0 0;
}


.single_post {
	border-bottom:1px solid #e7ebef;
	margin-bottom: 94px;
  padding-bottom: 83px;
	width:100%;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	&:last-of-type {
		border: none;
		margin-bottom:0;
		padding-bottom:0;
	}
}

.single_post_img {
	width:37%;
	float:left;
	img {
		display: block;
		max-width:100%;
		height:auto;
	}
}



a.post_link {
	color:$lightblue_one;
	transition: all .2s ease-in-out;
	&:hover {
		color:$brown;
		text-decoration: none;
	}
}

.single_post_content {
	width:63%;
	float:left;
	padding-left:40px;
}

.content {
	ul.post-categories {
		list-style: none;
		display: inline;
		li {
			display: inline;
			background: none;
			padding:0;
			margin:0;
			text-transform: lowercase;
			font-family: $libresemibold;
			margin-right:10px;
			&:after {
				content:"|";
				color:$brown;
				margin-left:10px;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
				
			}
			a {
					
			}
		}
	}
}


.post_info {
	margin-top:0px;
	margin-bottom:15px;
	line-height: 25px;
	span, a {
		display: inline;
		font-family: $libresemibold;
	}
	span {
		margin-right:10px;
		&:after {
			content:"|";
			color:$brown;
			margin-left:10px;
		}
		a {
			
		}
	}
}




a.read_more {
	display:block;
	text-transform: uppercase;
	font-family: $libreblack;
	font-size:12px;
	letter-spacing: 5px;
	margin-top:35px;
	clear:left;
	&:before {
		content:"";
		width:50px;
		height:1px;
		background: $brown;
		display: block;
		margin-bottom:20px;
	}
}


.content {

.post_pagination {
	margin: 140px 0 0 0;
	ul {
		list-style: none;
		
		li {
			background: none;
			margin:0;
			padding:0;
			display: inline-block;
			font-family: $actaextrabold;
			font-size: 26px;
			margin:0 10px;
			width:35px;
			text-align: center;
			padding:0px 0 ;
			a {
				color:$darkblue;
				position: relative;
				display: block;
				text-align: center;
				&:hover {
					text-decoration: none;
					&:before {
						content:"";
						width:100%;
						display: block;
						height:4px;
						background: $brown;
						position: absolute;
						top:-5px;
						left:0;
					}
				}
			}
		}
		li.previous,li.next {
			text-transform: uppercase;
			font-family: $libreblack;
			font-size: 12px;
			letter-spacing: 4px;
			width:auto;
			top:-5px;
			position: relative;
			a {
				&:before {
					display: none;
				}
			}
			&:hover {
				text-decoration: underline;
				
			}
			a {
				color:$brown;
			}
		}
		li.previous {
			margin-right:45px;
		}
		li.next {
			margin-left:45px;
		}
		li.active {
			a {
				&:before {
						content:"";
						width:100%;
						display: block;
						height:4px;
						background: $brown;
						position: absolute;
						top:-5px;
						left:0;
					}
			}
		}
	}
}

}


@media screen and (max-width: 1450px) {
	


.single_post {
	display: flex;
	flex-direction: column;
	padding-bottom:60px;
	margin-bottom:40px;
}


.single_post_img {
	width:100%;
	float:none;
	margin-top:25px;
	order:2;
	img {
		
	}
}


.single_post_content {
	width:100%;
	float:none;
	padding-left:0;
	order:1;
}


.content {

.post_pagination {
	margin-top:70px;
}

}



	
	
	
	
} /* Media Query */


@media screen and (max-width: 1300px) {
	
	
	
	.content {
		.post_pagination {
			ul {
				li.previous {
					margin-right:5px;
				}
				li.next {
					margin-left:5px;
				}
				li {
					margin:0 2px;
				}
			}
		}
	}   
	
	
	
	
} /* Media Query */


@media screen and (max-width: 955px) {
	
	
	.content {
		.post_pagination {
			ul {
				li.previous {
					margin-right:2px;
				}
				li.next {
					margin-left:2px;
				}
				li {
					margin:0 0px;
				}
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 900px) {


.blog_wrapper {
	margin-top:0;
}	
	

	
.single_post {

	
	padding-bottom:50px;
	margin-bottom:40px;
}


.content {
	.post_pagination {
		text-align: center;
		margin:39px auto 0;
		ul {
			margin-bottom:0;
			li {
				display: none;
			}
			li.previous {
					display: inline-block;
					margin-right:5px;
			}
			li.next {
					display: inline-block;
					margin-left:5px;
			}
		}
	}
}



	
	
	
} /* Media Query */