.blog_wrapper {
	margin:65px 0 0 0;
}


.single_post {
	border-bottom:1px solid #e7ebef;
	margin-bottom:120px;
	padding-bottom:110px;
	width:100%;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	&:last-of-type {
		// background: red;
		border: none;
	}
}

.single_post_img {
	width:37%;
	float:left;
	img {
		display: block;
		max-width:100%;
		height:auto;
	}
}



a.post_link {
	color:$lightblue_one;
	transition: all .2s ease-in-out;
	&:hover {
		color:$brown;
		text-decoration: none;
	}
}

.single_post_content {
	width:63%;
	float:left;
	padding-left:40px;
}

.content {
	ul.post-categories {
		list-style: none;
		display: inline;
		li {
			display: inline;
			background: none;
			padding:0;
			margin:0;
			text-transform: lowercase;
			font-family: $libresemibold;
			margin-right:10px;
			&:after {
				content:"|";
				color:$brown;
				margin-left:10px;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
				
			}
			a {
					
			}
		}
	}
}


.post_info {
	margin-top:0px;
	margin-bottom:15px;
	line-height: 25px;
	span, a {
		display: inline;
		font-family: $libresemibold;
	}
	span {
		margin-right:10px;
		&:after {
			content:"|";
			color:$brown;
			margin-left:10px;
		}
		a {
			
		}
	}
}




a.read_more {
	display:block;
	text-transform: uppercase;
	font-family: $libreblack;
	font-size:12px;
	letter-spacing: 5px;
	margin-top:35px;
	clear:left;
	&:before {
		content:"";
		width:50px;
		height:1px;
		background: $brown;
		display: block;
		margin-bottom:20px;
	}
}


@media screen and (max-width: 1450px) {
	


.single_post {
	display: flex;
	flex-direction: column;
	padding-bottom:90px;
	margin-bottom:80px;
}


.single_post_img {
	width:100%;
	float:none;
	margin-top:25px;
	order:2;
	img {
		
	}
}


.single_post_content {
	width:100%;
	float:none;
	padding-left:0;
	order:1;
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 900px) {


.blog_wrapper {
	margin-top:0;
}	
	

	
.single_post {

	
	padding-bottom:50px;
	margin-bottom:40px;
}


/*
.single_post_img {
	width:33%;
	float:left;
	margin-top:0px;
	
	img {
		
	}
}


.single_post_content {
	width:66%;
	float:left;
	padding-left:30px;

}
*/

	
	
	
} /* Media Query */