

@font-face {
    font-family: 'actadisplayw04-mediumitalicRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_medium_italic-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-extrabolditRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_extrabold_it-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_extrabold_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'actadisplayw01-xboldregular';
    src: url('#{$themePath}fonts/acta/acta_display_w01_xbold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w01_xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-bolditalicRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_bold_italic-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-boldregular';
    src: url('#{$themePath}fonts/acta/acta_display_w04_bold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-mediumregular';
    src: url('#{$themePath}fonts/acta/acta_display_w04_medium-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'libre_franklinblack';
    src: url('#{$themePath}fonts/libre/librefranklin-black-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





// Libre


@font-face {
	font-family: 'LibreFranklin-Black';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Black.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Black.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Black.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin-Bold';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Bold.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Bold.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin-Regular';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Regular.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Regular.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin-Medium';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Medium.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Medium.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin-ExtraBold';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-ExtraBold.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-ExtraBold.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LibreFranklin-SemiBold';
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-SemiBold.eot');
	src: url('#{$themePath}fonts/libre_two/LibreFranklin-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-SemiBold.woff') format('woff'),
		url('#{$themePath}fonts/libre_two/LibreFranklin-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




