@font-face {
    font-family: 'actadisplayw04-mediumitalicRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_medium_italic-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-extrabolditRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_extrabold_it-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_extrabold_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-bolditalicRg';
    src: url('#{$themePath}fonts/acta/acta_display_w04_bold_italic-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-boldregular';
    src: url('#{$themePath}fonts/acta/acta_display_w04_bold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actadisplayw04-mediumregular';
    src: url('#{$themePath}fonts/acta/acta_display_w04_medium-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/acta/acta_display_w04_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'libre_franklinblack';
    src: url('#{$themePath}fonts/libre/librefranklin-black-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinbold';
    src: url('#{$themePath}fonts/libre/librefranklin-bold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinextrabold';
    src: url('#{$themePath}fonts/libre/librefranklin-extrabold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinmedium';
    src: url('#{$themePath}fonts/libre/librefranklin-medium-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinregular';
    src: url('#{$themePath}fonts/libre/librefranklin-regular-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinsemibold';
    src: url('#{$themePath}fonts/libre/librefranklin-semibold-webfont.woff2') format('woff2'),
         url('#{$themePath}fonts/libre/librefranklin-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}