footer {
	background: $lightblue_one;
	width:100%;
	padding:110px;
	clear:both;
}

.overlay_form {
	background: $lightblue_one;
	width:100%;
}

.inner_overlay_form {
	width:100%;
	text-align: center;
	padding-left:85px;
	padding-right:85px;
	span.large_header {
		font-size:75px;
		color:#fff;
		display: block;
		font-family: $actabold;
		line-height: 80px;
		max-width:1000px;
		margin:123px auto 0px;
		letter-spacing: 1.3px;
	}
}


.inner_footer {
	width:100%;
	border:1px solid #c19345;
	text-align: center;
	padding-left:85px;
	padding-right:85px;
	span.sub_header {
		font-family: $libreblack;
		text-transform: uppercase;
		font-size:15px;
		color:$lightblue_two;
		letter-spacing: 4.5px;
		display: block;
		margin:103px 0 35px;
	}
	span.large_header {
		font-size:75px;
		color:#fff;
		display: block;
		font-family: $actabold;
		line-height: 80px;
		max-width:1000px;
		margin:0 auto 0px;
		letter-spacing: 1.3px;
	}
}

.inner_overlay_form {
	position: relative;
}


svg#footer_svg {
	width:120px;
	margin:-1px auto 0;
	display: block;
}


.form_wrapper {
	max-width:1200px;
	margin:108px auto 250px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	
	.validation_error {
		display: none;
	}
	ul {
		list-style: none;
		overflow: hidden;
		li#field_1_4, li#field_2_4 {
			width:100%;
		}
		li:nth-of-type(3) {
			margin-right:0;
		}
		li {
			width:32.3%;
			float:left;
			text-align: left;
			margin-right:1.5%;
			margin-bottom:50px;
			label {
				color:#fff;
				font-family: $librebold;
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: 1.4px;
				&:after {
					content:"•";
					display: inline;
					color:#c19345;
					font-size:17px;
					position: relative;
					top:2px;
					left:21px;
				}
				span.gfield_required {
					display: none;
				}
			}
			input {
				height:68px;
				
			}
			textarea {
				height:152px;
			}
			input, textarea {
				width:100%;
				border-top:0;
				border-left:0;
				border-right:0;
				border-bottom:2px solid $darkblue;
				background: none;
				font-size: 30px;
				color:$lightblue_two;
				font-family:$actamedium;
				letter-spacing: 1px;
				&:focus {
					border-bottom:4px solid $lightblue_two;
					padding:2px 0 0;
					
				}
			}
		}
	}
	.gform_footer {
		width:240px;
		float:right;
		input {
			border:none;
			background:$darkblue;
			width:100%;
			color:#fff;
			font-family: $libreblack;
			font-size:14px;
			text-transform: uppercase;
			padding:29px 0;
			box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.42);
			letter-spacing: 6px;
			cursor: pointer;
			transition: all .2s ease-in-out;
			&:hover {
				background:#9a7537;
			}
		}
	}
	.gfield_description, .validation_message {
		color:#c19345;
		font-family: $librebold;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1.4px;
		margin:10px 0 0;
	}
	span.fields_required {
		float:left;
		color:#fff;
		text-transform: lowercase;
		font-family: $actaimediumtalic;
		font-size:17px;
		margin:25px 0 0;
		letter-spacing: 1px;
		span.form_bullet {
			color:#c19345;
		}
	}
}


// Lower Footer


.lower_footer {

}

.lower_footer_inner {
	// float:left;
	background: #fff;
	display: block;
	width:100%;
 
 padding-top: 1px;
 margin-top: -1px;
	
}


.locations_wrapper {
	width:100%;
	max-width:1200px;
	margin:-265px auto 0;
	&:after {
		content:"";
		display: block;
		clear:both;
	}
}


.footer_box {
	width:50%;
	height:540px;
	text-align: center;
	font-family: $actamedium;
	.footer_box_inner {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul {
			li {
				list-style: none;
				
				&:last-of-type {
					a.social_link {
						&:after {
							display: none;
						}
					}
				}
				a.social_link {
					text-transform: lowercase;
					font-size:26px;
					position: relative;
					text-align: center;
					&:after {
						content:"";
						display: block;
						width:100%;
						height:1px;
						background: $brown;
						max-width:55px;
						margin:27px auto 33px;
					}
				}
			}
		}
	}
	&:first-of-type {
		background:$off_white_two;
		float:left;
	}
	&:last-of-type {
		background:#eaeced;
		float:right;
	}
	a:not(.footer_directions) {
		color:$lightblue_one;
		text-decoration: none;
		display: block;
		font-size: 28px;
	}
	a.footer_address {
		line-height: 31px;
		margin-bottom:16px;
	}
	a.footer_tel {
		margin-bottom:34px;
	}
	span.footer_gold_line {
		width:50px;
		height:1px;
		background: $brown;
		display: block;
		margin: 43px auto 0;
	}
	a.footer_directions {
		color:$brown;
		text-decoration: none;
		display: inline-block;
		margin:32px 0 0 ;
		font-family: $libreblack;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 5px;
		position: relative;
		text-align: center;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:1px;
			background: $brown;
			position: absolute;
			bottom:-2px;
			left:-2px;
			transition: all .2s ease-in-out;
			opacity: 0;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
}


.copyright_wrapper {
// 	clear:both;
	max-width:1200px;
	margin:0 auto;
	padding:40px 0;
}


span.copyright {
	font-size: 11px;
	font-family: $libremedium;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
  top: 3px;
  br {
	  display: none;
  }
	a {
		color:#172a36;
		margin-left:15px;
		text-decoration: none;
	}
}


a.ilawyer {
	float:right;
	img, svg {
		width:280px;
	}
}


@media screen and (max-width: 1605px) {
	
	
	footer {
    padding: 67px 65px;
  }
  
  .overlay_form {
	   padding: 0px;
  }
  
  .locations_wrapper {
		padding-left:150px;
		padding-right:150px;
		max-width: 1497px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	.copyright_wrapper {
		padding-left:152px;
		padding-right: 152px;
		max-width: 100%;
	}
	
	
  
  .inner_footer, .inner_overlay_form {
	  padding-left: 61px;
	   padding-right: 61px;
  }
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	.inner_footer, .inner_overlay_form {
		span.sub_header {
			margin: 72px 0 30px;
		}
		span.large_header {
			font-size: 65px;
			line-height: 80px;
		}
	}
	
	
	.form_wrapper {
		margin: 108px auto 197px;
		ul {
			li#field_1_4, li#field_2_4{
				margin-bottom: 30px;
			}
		}
	}
	
	
	.locations_wrapper {
		padding-right: 129px;
		padding-left: 129px;
		margin: -204px auto 0;
	}
	
	.footer_box {
		height: 433px;
		a.footer_address {
			font-size:25px;
			line-height: 31px;
		}
		a.footer_box a.footer_tel {
    	margin-bottom: 28px;
		}
		span.footer_gold_line {
			margin: 41px auto 0;
		}
		.footer_box_inner {
		ul {
			li {
				a.social_link {
					font-size: 25px;
					&:after {
						margin: 25px auto 29px;
					}
				}
			}
		}
	}
	}
	
	
	
	.copyright_wrapper {
    padding-left: 62px;
    padding-right: 62px;
  }
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1070px) {
	
	
	.copyright_wrapper {
		text-align: center;
		padding: 35px 0 20px;
	}
	
	span.copyright {
		display: inline-block;
	}
	
	a.ilawyer {
    float: none;
    display: block;
    margin-top:20px;
}
	
	
	
} /* Media Query */


@media screen and (max-width: 1030px) {
	
	
	
	footer {
		padding: 46px;
	}
	
	
	.overlay_form {
		padding:0 46px;
	}
	
	svg#footer_svg {
    width: 95px;
   }
   
   .inner_footer {
	   padding-left: 50px;
		 padding-right: 50px;
	   span.sub_header {
		   margin: 65px 0px 19px;
	   }
	   span.large_header {
		   font-size: 45px;
		   line-height: 60px;
	   }
   } 
   
   
   .inner_overlay_form {
	   padding-left: 0px;
		 padding-right: 0px;
	   span.large_header {
		   font-size: 45px;
		   line-height: 60px;
		   padding-left: 50px;
			 padding-right: 50px;
	   }
   }
   
   
   
   .form_wrapper {
	   margin: 85px auto 79px;
	   ul {
		   li#field_1_4, li#field_2_4 {
			 		margin-bottom: 25px;
				}
		   li {
			   width:100%;
			   float:none;
			   label {
				   &:after {
					   left: 9px;
				   }
			   }
			   input {
				   height: 64px;
			   }
			   textarea {
				   height: 137px;
			   }
		   }
	   }
   }
	
	
	.locations_wrapper {
		margin-top:0;
		max-width: 100%;
		padding:0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
	.footer_box {
		height: 402px;
		.footer_box_inner {
			ul {
				li {
					a.social_link {
						font-size:20px;
					}
				}
			}
		}
		
		a.footer_address, a.footer_tel, a.footer_email {
			font-size:20px;
			line-height:25px;
			
		}
		a.footer_address {
			margin-bottom: 0;
		}
		a.footer_tel {
			margin-bottom: 26px;
		}
		span.footer_gold_line {
    	margin: 40px auto 0;
		}
	} 
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	footer {
		padding: 26px 26px 30px 26px;
	}
	
	.overlay_form {
		padding: 0px 26px;
	}
	
	
	
	.inner_footer {
		padding-left: 23px;
		padding-right:23px;
		span.sub_header {
			display: none;
		}
		span.large_header {
			margin-top:42px;
			font-size:35px;
			line-height: 42px;
			max-width:400px;
		}
		
	} 
	
	
	
	
	.inner_overlay_form {
		padding-left: 0px;
		padding-right:0px;
		span.sub_header {
			display: none;
		}
		span.large_header {
			margin-top:42px;
			font-size:35px;
			line-height: 42px;
			max-width:400px;
			padding:0;
		}
	}
	
	
	
	
	.form_wrapper {
		margin: 44px auto 0px;
		ul {
			li {
				input {
					height: 55px;
				}
			}
		}
		span.fields_required {
			width:100%;
			//float:left;
			position: relative;
			top:-149px;
			//text-align: left;
		}
		.gform_footer {
			width:100%;
			
			float:none;
			padding-top:57px;
			max-width: 280px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	
	.footer_box {
		width:100%;
		float:none;
		height:auto;
		&:last-of-type {
			.footer_box_inner {
				padding: 40px;
			}
		}
		a.footer_directions {
			font-size:11px;
		}
		.footer_box_inner {
			position: static;
			top:0;
			transform: none;
			padding:50px 20px;
			ul {
				li {
					display: inline-block;
					line-height: 1;
					&:last-of-type {
						a.social_link {
							border:none;
						}
					}
					a.social_link {
						display: block;
						padding:0 12px;
						border-right:1px solid;
						color:$lightblue_one; 
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 681px) {
	
	.copyright_wrapper {
		padding: 30px 0 0px;
	}
	
	span.copyright {
		max-width: 358px;
		line-height: 18px;
		br {
			display: inline;
		}
		a {
    	margin: 17px 10px 0;
    	display: inline-block;
		}
	} 
	
	
	a.ilawyer {
		background: $darkblue;
		padding:24px 20px;
		margin-top: 29px;
		svg {
			.ilawyer_cls-1 {
				fill:#fff;
			}
		}
		
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 630px) {
	
	
	
	.form_wrapper {
		
		ul {
			li {
				input {
					
				}
			}
		}

		span.fields_required {
			
			float:left;
			text-align: left;
/*
			position: relative;
			top:-149px;
			text-align: left;
*/
		}
		.gform_footer {
			
			max-width: 100%;
			
		}

	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 445px) {
	
	
	.footer_box {
		
		&:last-of-type {
			.footer_box_inner {
				padding:40px 0 25px;
			}
		}
		a.footer_directions {
			
		}
		.footer_box_inner {
			
			ul {
				max-width:300px;
				margin-left:auto;
				margin-right:auto;
				li {
					&:nth-of-type(3) {
						a.social_link {
							border:none;
						}
					}
					&:last-of-type {
						a.social_link {
							margin-top:20px;
						}
					}
					a.social_link {
						
						&:after {
							
						}
					}
				}
			}
		}
	}
	
	
	
	
	
} /* Media Query */
