.content {
	font-family: $libre, "Comic-Sans";
	font-size:16px;
	line-height: 40px;
	color:$letterblack;
	h1 {
		font-size: 95px;
		font-family:$actaextrabold;
		color:$letterblue;
		line-height: 95px;
		margin-bottom:60px;
		// display: block;
	}
	p {
		margin-bottom:40px;
	}
	h2 {
		font-family: $actabold;
		color:#455b64;
		line-height: 40px;
		font-size:30px;
		letter-spacing: 0px;
		margin-top:35px;
		margin-bottom:30px;
	}
	h3 {
		font-family: $actaimediumtalic;
		font-size:25px;
		color:$lightblue_one;
		line-height: 40px;
		letter-spacing: 0.3px;
		padding-top:15px;
		margin-bottom:28px;
	}
	h4 {
		text-transform: uppercase;
		font-family: $libreextrabold;
		color:$lightblue_one;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 1.2px;
		margin-bottom:20px;
		padding-top:10px;
	}
	h5 {
		font-size: 16px;
		font-family: $libreextrabold;
		color:$darkblue;
		letter-spacing: 1.2px;
		line-height: 28px;
		padding-top:4px;
		margin-bottom:23px;
	}
	a {
		color:$brown;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		margin-bottom: 42px;
		li {
			background:url(#{$themePath}images/dot.png) no-repeat scroll 0 10px;
			list-style: none;
			padding: 0px 0 0 15px;
			margin-bottom:25px;
		}
	}
	ol {
		margin:0 0 0 0px;
		counter-reset: my-counter;
		list-style: none;
		li {
			position: relative;
			margin-bottom:25px;
			margin-left:20px;
			&:before {
				content: counter(my-counter);
				counter-increment: my-counter;
				position: absolute;
				top:0;
				left:-20px;
				font-family: $libreblack;
				color:$brown;
			}
			&:after {
				content:")";
				position: absolute;
				top:-1px;
				left:-10px;
				display: block;
				font-family: $libreblack;
				color:$brown;
			}
		}
	}
	blockquote {
		color:$brown;
		font-size:48px;
		line-height: 59px;
		font-family: $actabold;
		padding:0 0 0 55px;
		margin:40px 0 45px -35px;
		max-width:670px;
		&:before {
			content:"";
			width:100%;
			max-width:180px;
			height:2px;
			background: $brown;
			display: block;
			margin:0px 0 45px 0px;
			position: relative;
			left:-55px;
		}
		&:after {
			content:"";
			width:100%;
			max-width:180px;
			height:2px;
			background: $brown;
			display: block;
			margin:45px 0px 0px;
			position: relative;
			left:-55px;
		}
	}
}


body:not(.page-template-page-home) {
	.content {
		p {
			margin-bottom: 25px;
		}
		blockquote {
			max-width:100%;
			margin: 56px 0 62px -60px;
			font-size: 45px;
			line-height: 60px;
			
			// float: left;
			&:before {
				height:1px;
				margin: 0px 0 50px 0px;
			}
			&:after {
				height:1px;
				margin:50px 0 0 0;
			}
		}
	}
}



.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}


@media screen and (max-width: 1450px) {
	
	
	
body:not(.page-template-page-home) {
	.content {
		p {
			
		}
		blockquote {
			margin: 0px 0 21px 0px;
			padding:3%;
			&:before {
				left: -3%;
			}
			&:after {
				left: -3%;
			}
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1320px) {
	

body:not(.page-template-page-home) {
	.content {
		h1 {
			font-size:72px;
			line-height: 80px;
			margin-bottom:49px;
		}
		h2 {
			margin-bottom: 29px;
		}
		p {
			
		}
		blockquote {
			
			
			
			&:before {
				
			}
			&:after {
				
			}
		}
	}
}
	
	

	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	.content {
		h2{
			margin-bottom:20px;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 900px) {
	
	
body:not(.page-template-page-home) {
	.content {
		h1 {
			
		}
		h2 {
			
		}
		p {
			
		}
		blockquote {
			font-size:35px;
			line-height: 50px;
			 margin: 0px 0 23px;
			&:before {
				margin: 0px 0 26px 0px;
			}
			&:after {
				margin: 26px 0 0 0;
			}
		}
	}
}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	body:not(.page-template-page-home)  {
		.content {
			h1 {
				font-size: 38px;
				line-height: 45px;
				margin-bottom:0px;
   		}
   		h2 {
	   		margin-top:22px;
   		}
   		blockquote {
	   		padding:0;
	   		margin: 41px 0 41px;
	   		&:before {
		   		left:0;
		   		max-width: 100%;
	   		}
	   		&:after {
		   		left:0;
		   		max-width: 100%;
	   		}
   		}
		}
	} 

	
	.content {
		h1 {
			//font-size:38px;
		}
		h2 {
			font-size: 25px;
		}
	}
	
	
} /* Media Query */
