header {
	position: absolute;
	top:72px;
	left:0;
	width:100%;
	.inner_header {
		width:100%;
		max-width: 1700px;
		margin:0 auto;
		background: #fff;
		height:73px;
	}
}


.logo {
	width:100%;
	max-width:397px;
	height:auto;
	margin-top:15px;
	margin-left:20px;
}


.header_right {
	float:right;
	display: flex;
	margin-right:27px;
}

span.free_consultation {
	color:$brown;
	font-size:20px;
	font-family: $actabolditalic;
	margin-top:32px;
	letter-spacing: 0.4px;
}

a.tel {
	font-family:$actabold;
	font-size:32px;
	color:$brown;
	text-decoration: none;
	margin:22px 32px 0 13px;
}

.menu_wrapper {
	border-left:1px solid $lightblue_two;
	overflow: hidden;
	width:108px;
	padding-left:23px;
	height:22px;
	margin-top:26px;
	span.menu_verbiage {
		text-transform: uppercase;
		font-size:13px;
		font-family: $libreextrabold;
		color:$darkblue;
		float:right;
		letter-spacing: 1.3px;
		margin-top:5px;
	}
}


.menu_bar_wrapper {
	margin-top:4px;
	float:left;
	width:25px;
	&:last-of-type {
		margin-bottom: 0;
	}
	.menu_bar {
		width:100%;
		margin-bottom:4px;
		height:2px;
		background: $darkblue;
	}
}