header {
	position: absolute;
	top:72px;
	left:0;
	width:100%;
	padding:0 70px;
	.inner_header {
		width:100%;
		max-width: 1700px;
		margin:0 auto;
		background: #fff;
		height:73px;
		box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
	}
}


.mobile_free_consultation {
	display: none;
}



.mobile_logo_wrapper {
	display: none;
}


.logo {
	width:100%;
	max-width:397px;
	height:auto;
	margin-top:15px;
	margin-left:20px;
}




.header_right {
	float:right;
	margin-right:27px;
}

.header_right_inner {
	display: flex;
}

span.free_consultation {
	color:$brown;
	font-size:20px;
	font-family: $actabolditalic;
	margin-top:32px;
	letter-spacing: 0.4px;
}

a.tel {
	font-family:$actabold;
	font-size:32px;
	color:$brown;
	text-decoration: none;
	margin:22px 32px 0 13px;
}

.menu_wrapper {
	border-left:1px solid $lightblue_two;
	overflow: hidden;
	width:108px;
	padding-left:23px;
	height:22px;
	margin-top:26px;
	cursor: pointer;
	span.menu_verbiage {
		text-transform: uppercase;
		font-size:13px;
		font-family: $libreextrabold;
		color:$darkblue;
		float:right;
		letter-spacing: 1.3px;
		margin-top:5px;
	}
}


.menu_bar_wrapper {
	margin-top:4px;
	float:left;
	width:25px;
	&:last-of-type {
		margin-bottom: 0;
	}
	.menu_bar {
		width:100%;
		margin-bottom:4px;
		height:2px;
		background: $darkblue;
	}
}


// nav dropdown

.nav_dropdown.slideout.slidein {
	
	.nav_left {
		transform: translateX(-100%);
	}
	.nav_right {
		transform: translateX(100%);
	}
} 


.nav_dropdown.slidein {
	opacity: 1;
	visibility: visible;
	.nav_left {
		transform: translateX(0);
	}
	.nav_right {
		transform: translateX(0);
	}
}

.nav_dropdown {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	overflow-y: scroll;
	opacity: 0;
	visibility: hidden;
	
	.nav_left {
		width:50%;
		float:left;
		background:#364c58;
		height:100%;
		transform: translateX(-100%);
		transition: all 1000ms cubic-bezier(.17,.66,.34,.98);
		display: flex;
		justify-content: center;
		align-items: center; 
	}
	.nav_right {
		width:50%;
		float:right;
		background: #4c6775;
		height:100%;
		transform: translateX(100%);
		transition: all 1000ms cubic-bezier(.17,.66,.34,.98);
		.sub_menu_container {
				display: flex;
				justify-content: center;
				align-items: center; 
				width:100%;
				height:100%;
		}
	}
	ul {
		list-style: none;
		li {
			text-align: left;
			font-family: $actamedium;
			font-size:35px;
			letter-spacing: 1.5px;
			a {
				color:#fff;
				text-decoration: none;
				display: inline-block;
				margin-bottom: 30px;
				position: relative;
				&:before {
					content:"";
					transition: all .2s ease-in-out;
				}
				&:hover {
					&:before {
						content:"";
						position: absolute;
						top:40px;
						left:0;
						width: 100%;
						height:3px;
						background: $brown;
						display: inline-block;
					}
				}
			}
		}
	}
	ul#menu-top-nav {
		> li.current-menu-item {
			> a {
				&:before {
						content:"";
						position: absolute;
						top:40px;
						left:0;
						width: 100%;
						height:3px;
						background: $brown;
						display: inline-block;
					}
			}
		}
		> li.current-menu-parent {
			> a {
					&:before {
						content:"";
						position: absolute;
						top:40px;
						left:0;
						width: 100%;
						height:3px;
						background: $brown;
						display: inline-block;
					}
			}
		}
		> li.menu-item-has-children {
				> a {
						position: relative;
						cursor: pointer;
						&:after {
							content:"";
							width: 0; 
							height: 0; 
							border-top: 4px solid transparent;
							border-bottom: 4px solid transparent;
							border-left: 4px solid #fff;
							display:block;
							position: absolute;
							top:15px;
							right:-27px;
						}
					}
					> a.active {
							&:before {
						content:"";
						position: absolute;
						top:40px;
						left:0;
						width: 100%;
						height:3px;
						background: $brown;
						display: inline-block;
					}
					}
		}
	}
	ul.sub-menu {
		display: none;
		> li.current-menu-item {
			> a {
				&:before {
						content:"";
						position: absolute;
						top:40px;
						left:0;
						width: 100%;
						height:3px;
						background: $brown;
						display: inline-block;
					}
			}
		}
		
		
/*
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
*/
	}
	ul.sub-menu.open {
/*
		max-height:3000px;
		opacity: 1;
		visibility: visible;
*/
	}
}




.nav_dropdown.open {
	opacity: 1;
	visibility: visible;
} 


/*
.nav_close.form_close {
	top: 86px;
	&:before {
		content:"";
		width:60px;
		height:55px;
		border:2px solid $brown;
		display: block;
		position: absolute;
		top:-23px;
		left:-8px;
	}
}
*/


.nav_close {
	width:66px;
	height:63px;
	border:2px solid $brown;
	position: absolute;
	top: 43px;
	right:55px;
	cursor: pointer;
	svg {
		width:100%;
	}
	span {
		width:40px;
		height:3px;
		background: #fff;
		display: block;
		&:first-of-type {
			transform: rotate(-45deg);
			transform-origin: 60px 1px 0;
		}
		&:last-of-type {
			transform: rotate(45deg);
			transform-origin: -5px 28px 0;
		}
	}
}



.free_consultation_desktop.active {
	opacity: 1;
	visibility: visible;
}

.free_consultation_desktop.active.hide {
	opacity: 0;
	visibility: hidden;
}




.free_consultation_desktop {
	width:368px;
	height:100px;
	background: $lightblue_one;
	position: fixed;
	right:0;
	top:44%;
	z-index: 20;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
	img {
		width:72px;
		margin:13px 0 0 13px;
		float:left;
	}
	.fc_verbiage_wrapper {
		float:left;
		padding:23px 0 0 23px;
	  width: calc(100% - 85px);
		span.fc_title {
			display: block;
			font-family: $actabold;
			color:#fff;
			font-size: 28px;
			text-transform: lowercase;
			letter-spacing: 0.7px;
		}
		span.fc_start {
			text-transform: uppercase;
			font-family: $libreblack;
			font-size: 13px;
			color:$lightblue_two;
			display: inline-block;
			letter-spacing: 4.5px;
			margin:12px 0 0 0;
			&:after {
				content:"..........";
				display: inline-block;
				font-size: 11px;
				margin-left:19px;
				position: relative;
				top:-3px;
			}
			
		}
	}
}



.free_consultation_tablet {
	display: none;
}


.header_right.sticky_clone, .mobile_free_consultation.sticky_clone {
	display: none;
}


.fc_form_overlay {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
	background: $lightblue_one;
	overflow-y: scroll;
	// display: none;
	
}

.fc_form_overlay.open {
	opacity: 1;
	visibility: visible;
}





@media screen and (max-width: 1450px) {
	
	header {
		top: 35px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	
.nav_close.form_close {
	top: 46px;
	&:before {
		
		top:-23px;
		
	}
}


.nav_dropdown ul#menu-top-nav {
	margin:31% 0;
}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
	
	
header {
	.inner_header {
		height: 65px;
	}
}	
	
	.logo {
		max-width: 350px;
		margin-left: 19px;
		margin-top:14px;
	}
	
	
	span.free_consultation {
		display: none;
	}
	
	a.tel {
		font-size: 27px;
		margin: 21px 21px 0 13px;
	}
	
	
	.menu_wrapper {
		margin-top:23px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	header {
		padding: 0 28px;
		.inner_header {
			height: 56px;
		}
	}
	
	.logo {
		max-width: 297px;
		margin-left: 13px;
		margin-top: 11px;
	}
	
	
	a.tel {
		font-size: 25px;
		margin: 16px 21px 0 13px;
	}
	
	.menu_wrapper {
		margin-top: 18px;
	}
	
	
	.free_consultation_desktop {
		display: none;
	}
	
	
	.free_consultation_tablet {
		display: block;
		width:100%;
		background: $brown;
		position: fixed;
		top:0;
		left:0;
		z-index:100;
		height:60px;
		text-align: center;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
		img {
			width:75px;
			position: absolute;
			top:-2px;
			left:15px;
		}
		.fc_verbiage_wrapper {
			font-family: $actabold;
			color:#fff;
			font-size:26px;
			padding-top:15px;
		}
	}
	
	.free_consultation_tablet.active {
		opacity: 1;
		visibility: visible;
	}
	
	.free_consultation_tablet.active.hide {
		opacity: 0;
		visibility: hidden;
	}
	
	
	.nav_dropdown {
		background: $lightblue_one;
		opacity: 1;
    visibility: visible;
    display: none;
		.nav_left {
			background: transparent;
			transform: translateX(0);
			width:100%;
			float:none;
			display: block;
		}
		.nav_right {
			background: transparent;
			transform: translateX(0);
			width:100%;
			float:none;
			display: block;
			position: absolute;
			top:0;
			right:0;
			width:125px;
			height:125px;
		}
		
		
		ul {
			li {
				text-align: center;
				font-size:28px;
				a {
					margin-bottom:32px;
					&:hover {
						&:before {
							display: none;
						}
					}
				}
			}
		}
		ul#menu-top-nav {
			> li.menu-item-has-children {
				 > a {
					 	&:after {
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-top: 4px solid $darkblue;
							top:15px;
							right:-27px;
						}
				 }
			}
			> li.current-menu-item, > li.current-menu-parent {
				 > a {
					 	&:before {
							top:30px;
						}
				 }
			}
		}
		ul.sub-menu {
			display: block;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease-in-out;
			> li.current-menu-item {
				 > a {
					 	&:before {
							top:30px;
						}
				 }
			}
		}
		ul.sub-menu.open {
			max-height:3000px;
			opacity: 1;
			visibility: visible;
		}
	}
	
	
	.nav_close.form_close {
    top: 26px;
	}
	
	
	 
} /* Media Query */


@media screen and (max-width: 767px) {
	
.nav_dropdown {
		z-index:400;
		top:101px;	
	 ul#menu-top-nav { 
		 margin: 40px 0 100px;
		 li {
		 	font-size: 22px;
		 	a {
				margin-bottom: 40px;
			}
		}
	}
}



.nav_dropdown ul#menu-top-nav>li.menu-item-has-children>a:after {
	top:10px;
}



.nav_dropdown.active {
	top:46px;
}


.nav_close_mobile {
	display: none;
}
	

		.mobile_free_consultation {
			display: block;
			span {
				display: block;
				width:100%;
				text-align: center;
				background: $brown;
				color:#fff;
				font-family: $actaextrabold;
				text-transform: lowercase;
				text-decoration: none;
				font-size: 20px;
				padding:17px 0;
				letter-spacing: 1px;
			}
		}
	
	
	
	
	
	
	header {
		top:0;
		left:0;
		padding:0;
		// position: fixed;
		z-index:100;
		.inner_header {
			height: auto;
			box-shadow: none;
		}
	}
	
	
	
	header {
		.inner_header {
			position: relative;
			z-index: 300;
		}
	}
	
/*
	
	.mobile_free_consultation {
		opacity: 1;
		visibility: visible;
		transition: all .2s ease-in-out;
	}
	
	.mobile_free_consultation.hide {
		opacity: 0;
		visibility: hidden;
	}
	
	
*/
	
	
	.logo_link {
		display: none;
	}
	
	
	.mobile_logo_wrapper {
		display: block;
		background:$letterblue;
		padding:18px;
		text-align: center;
		svg {
			max-width:270px;
		}
	}
	
	
	.header_right {
		background: #fff;
		width:100%;
		float:none;
		margin:0;
	}
	
	.header_right_inner {
		display: block;
		text-align: center;
		height: 47px;
	}
	
	a.tel {
		display: inline-block;
		margin: 0px 12px 0 0px;
		font-size:22px;
		position: relative;
		top:9px;
	}
	
	.menu_wrapper {
		display: inline-block;
		margin-top: 0px;
		position: relative;
		top:12px;
		width: 104px;
	}
	
	.header_right.sticky_clone, .mobile_free_consultation.sticky_clone  {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease-in-out;
	}
	
	.header_right.sticky_clone.active, .mobile_free_consultation.sticky_clone.active  {
		opacity: 1;
		visibility: visible;
	}
	
	.header_right.sticky_clone {
		.header_right_inner {
			
		}
	}
	
	.mobile_free_consultation.sticky_clone {
		top:46px;	
		span {
			padding:13px 0;
		}
	}
	
	
	.banner_content {
		font-size:58px;
		padding:0 10px;
		line-height: 60px;
		//display: block;
	}
	
	
	.free_consultation_tablet {
		display: none;
	}
	

	
	
} /* Media Query */



@media screen and (max-width: 590px) {
	
	

	
	
} /* Media Query */


