


// Inner Page Default


.main {
	width:100%;
	height:auto;
	min-height: 400px;
	margin:270px 0 158px 0;
}


/*
body:not(.page-template-default) {
	.main {
		margin-bottom:120px;
	}
}
*/


.inner_main {
	max-width:1640px;
	margin:0 auto;
	overflow: hidden;
	padding:0 70px;
}

.inner_content {
	margin-top:0px;
	padding:0 0 0 100px;
	float:left;
	width:calc(100% - 428px);
	position: relative;
	
}


body.blog {
	.inner_content {
		padding-left:50px;
	}
	.content {
		h2 {
			margin-top:0;
		}
	}
	.sidebar_wrapper {
		margin-top:0;
	}
}


body.page-template-page-videocenter {
	.inner_main {
		max-width:100%;
	}
}

// Internal Banners



.main.internal_banner_main {
	margin:0 0 0 0;
	section.banner {
		padding-top: 335px;
		height: 754px;
		background-position: center -60px;
	}
	a.begin {
		margin-top: 21px;
	}
	.scroll_wrapper {
		display: none;
	}
	.inner_main {
		margin-top:100px;
	}
}


// One Column

.one_column {
	padding-bottom:0px;
	h1 {
		text-align: center;
	}
}

.internal_header_wrapper {
	padding-bottom: 30px;
	text-align: center;
}

span.internal_gold_line {
	width:100%;
	height:2px;
	background: $brown;
	display: block;
	max-width:780px;
	margin-left:auto;
	margin-right:auto;
	&:before {
		content:"";
		width:80%;
		height:2px;
		// border-top:2px dotted $darkblue;
		
		background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
		background-position: top;
		background-size: 4px 5px;
		background-repeat: repeat-x;
  
  
  
		display: block;
		top:-20px;
		position: relative;
		margin-left:auto;
		margin-right:auto;
	}
	&:after {
		content:"";
		width:80%;
		height:2px;
		
		background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
		background-position: top;
		background-size: 4px 5px;
		background-repeat: repeat-x;
		
		
		// border-bottom:2px dotted $darkblue;
		display: block;
		top:19px;
		position: relative;
		margin-left:auto;
		margin-right:auto;
	}
}



@media screen and (max-width: 1450px) {
	
	
.main {
	margin: 220px 0 48px 0;
}


.inner_content {
	padding:0 0 0 0%;
	float:none;
	width:auto;
}


.main.internal_banner_main {
	
	section.banner {
		
	}
	a.begin {
		
	}
	.scroll_wrapper {
		
	}
	.inner_main {
		margin-top: 62px;
	}
}

	
	
} /* Media Query */


@media screen and (max-width: 1320px) {
	
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	.main {
		margin: 159px 0 42px 0;
	}
	
	.inner_main {
		padding: 0 45px;
	}
	
	
	// Internal Banners



.main.internal_banner_main {
	
	section.banner {
		display: none;
	}
	a.begin {
		
	}
	.scroll_wrapper {
	
	}
	.inner_main {
		
	}
	.inner_main {
		margin: 156px 0 0 0;

	}
}

	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
body:not(.page-template-page-home) {
	header {
		.inner_header {
			box-shadow: none;
			height: auto;
		}
	}
}

.inner_main {
    padding: 0 23px;
}

.inner_content {
	margin-top: 38px;
}


	// Internal Banners



.main.internal_banner_main {
	
	section.banner {
		
	}
	a.begin {
		
	}
	.scroll_wrapper {
	
	}
	.inner_main {
		
	}
	.inner_main {
		margin: 198px 0 0 0;

	}
}

	
	
	
} /* Media Query */

