.int_case_results_wrapper {
	margin:68px auto -30px;
	max-width:1475px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}

.int_single_case_results {
	width:31%;
	float:left;
	position: relative;
	padding:40px 0;
	text-align: center;
	margin-right:3.5%;
	margin-bottom:60px;
	&:nth-of-type(3n + 3) {
		margin-right:0%;
	}
}

.int_single_case_border {
	border:1px solid $brown;
	position: relative;
	z-index:5;
	padding:100px 0 88px 0;
}

.int_case_content.hide {
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
}



.int_case_content {
	opacity: 1;
	visibility: visible;
}

.int_case_bg_wrapper {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0 25px;
	.int_case_bg_wrapper_inner {
		background: $off_white_two;
		width:100%;
		height:100%;
	}
}


.int_case_hover.open {
	opacity: 1;
	visibility: visible;
}


.int_case_hover {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0 25px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
	.int_case_hover_inner {
		width:100%;
		height:100%;
		background: $lightblue_one;
		display: flex;
		justify-content: center;
		align-items: center; 
		padding:0 30px;
	}
}




span.int_case_amount {
	font-size: 85px;
	font-family:$actabold;
	color:$lightblue_one;
}

span.int_case_line {
	width:55px;
	height:1px;
	background: $brown;
	display: block;
	margin:30px auto 0;
}

span.int_case_type {
	text-transform: uppercase;
	color:$brown;
	font-family:$libreblack;
	font-size: 14px;
	letter-spacing: 7.5px;
	display: block;
	margin:38px 0 20px;
}


span.int_result {
	text-transform: lowercase;
	font-family: $actabolditalic;
	font-size: 20px;
	color:$lightblue_one;
	letter-spacing: 2px;
}


.int_case_hover_inner.content {
	color:#fff;
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


@media screen and (max-width: 1350px) {
	
	
	
.int_case_results_wrapper {

}

.int_single_case_results {
	width:48.5%;
	margin-right:3%;
	&:nth-of-type(3n + 3) {
		margin-right:3%;
	}
	&:nth-of-type(2n + 2) {
		margin-right:0%;
	}
}


} /* Media Query */



@media screen and (max-width: 970px) {
	
.int_case_results_wrapper {
}

.int_single_case_results {
	width:100%;
	float:none;
	max-width:620px;
	margin-left:auto;
	margin-right:auto;
	&:nth-of-type(3n + 3) {
		margin-right:auto;
	}
	&:nth-of-type(2n + 2) {
		margin-right:auto;
	}
}


span.int_case_amount {
	font-size: 72px;
}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.int_case_results_wrapper {
		margin:0 0 -30px 0px;
	}
	
	.int_single_case_results {
		background:$off_white_two;
		max-width:100%;
		padding: 53px 20px 40px;
		margin-bottom:30px;
	}
	
	
	.int_case_bg_wrapper {
		display: none;
	}
	
	
	.int_single_case_border {
		border: none;
		padding:0px;
	}
	
	.int_case_hover {
		position: relative;
		padding:0;
		// 
		
		opacity: 1;
		visibility: visible;
		
	}
	
	
	span.int_case_amount {
		font-size: 55px;
	}
	
	
	.int_case_content.hide {
		opacity: 1;
		visibility: visible;
	}
	
	span.int_case_type {
		margin-bottom:15px;
	}
	
	
	.int_case_hover.open {
		opacity: 1;
		visibility: visible;
		max-height: 3000px;
	}
	
	.int_case_hover {
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		.int_case_hover_inner {
			background: transparent;
			color:$letterblue;
			display: block;
			padding:0 10px;
		}
	} 
	
	
	
	.int_case_hover_inner.content {
		line-height: 35px;
		padding-top:27px;
	}
	
	.tri.open {
		transform: rotate(180deg);
	}
	
	.tri {
		margin-top:35px;
		margin-left:auto;
		margin-right:auto;
		width: 0; 
		height: 0; 
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid $brown;
	}
	
	
	
} /* Media Query */

