body.page-template-page-bio {
	.content {
		h1 {
			 margin-bottom: 15px;
		}
	}
}


   
span.bio_sub_title {
	display: inline-block;
	margin:0 auto;
	text-transform: uppercase;
	color: $brown;
	text-transform: uppercase;
	font-family: $libreblack;
	font-size:18px;
	letter-spacing: 8.5px;
	margin:0px 0 63px;
}


.att_bio_wrapper {
	margin-top:90px;
	&:after {
		content:"";
		clear:both;
		display: block;
	}
}



body.page-template-page-bio {
	.inner_content {
		padding: 0 0 0 129px;
	}
}

.view_landmark_cases {
	display: none;
}


@media screen and (max-width: 1450px) {
	
	
body.page-template-page-bio {
	.inner_content {
		padding: 0 0 0 0px;
	}
}


.att_bio_wrapper {
	margin-top: 72px;
}


	
} /* Media Query */


@media screen and (max-width: 1320px) {
	
	

body.page-template-page-bio {
	.internal_header_wrapper.content {
		h1 {
			font-size:95px;
			margin-bottom:27px;
		}
	}
}



	   .att_bio_wrapper {
		 		margin-top: 45px;
			}

	
	
	
	span.bio_sub_title {
		//font-size: 16px;
		margin-bottom:72px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
body.page-template-page-bio {
	.internal_header_wrapper.content {
		h1 {
			font-size:72px;
			margin-bottom: 10px;
		}
	}
}


span.bio_sub_title {
	font-size:16px;
	margin-bottom: 59px;
}
	
	

	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.att_bio_wrapper {
    margin-top: 0px;
	}
	
	   
	   
	   
	   body.page-template-page-bio {
		 	.internal_header_wrapper {
			 	padding:0;
		 	}
		 }
		 
		 
		body.page-template-page-bio {
			.main {
				margin-bottom:0;
			}
		}
	
	
	body.page-template-page-bio {
	.internal_header_wrapper.content {
		h1 {
			font-size:38px;
			margin-bottom: 0px;
		}
	}
}





span.bio_sub_title {
	font-size:13px;
	margin-bottom: 0px;
	letter-spacing: 3px;
}


body.page-template-page-bio {
	.inner_content {
		margin:0 0 0px 0;
		padding-bottom:85px;
		transition: all .2s ease-in-out;
		transition-delay: 500ms;
	}
	.inner_content.adjust {
		padding-bottom:15px;
	}
}


.bio_slide_wrapper {
	opacity: 0;
	visibility: hidden;
	max-height:0px;
	//display: none;
	transition: all .2s ease-in-out;
	transition-delay: 500ms;
	
	
}

.bio_slide_wrapper.open {
	opacity: 1;
	visibility: visible;
	max-height: 30000px;
	
	// display: block;
}

.view_landmark_cases {
	background: $brown;
	color:#fff;
	width:100vw;
	display: block;

	text-align: center;
	text-transform: lowercase;
	margin-top:43px;
	font-size: 25px;
	font-family: $actabold;
	padding:24px 5px;
	letter-spacing: 1px;
	cursor: pointer;
	position: absolute;
	bottom:0;
	left:-23px;
	&:after {
		content:"";
		display: inline-block;
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
		position: relative;
		top:-3px;
		margin-left:20px;
	}
}
	
	
	
} /* Media Query */


