

.contact_wrapper {
	background: $off_white_two;
	width:100%;
	margin:75px auto 165px;	
	max-width:1310px;
	overflow: hidden;
}



.inner_contact_address {
	padding:150px 30px 125px 8%;
	width:38%;
	float:left;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	a.contact_link, a.contact_tel {
		font-size:38px;
		color:$lightblue_one;
		line-height: 48px;
		font-family: $actamedium;
		display: block;
		transition: all .2s ease-in-out;
		&:hover {
			color: $brown;
		}
	}
	a.contact_directions {
		text-transform: uppercase;
		font-family: $libreblack;
		font-size:13px;
		letter-spacing: 5.75px;
		margin-bottom:45px;
		display: inline-block;
	}
	a.contact_tel {
		
	}
	span.contact_line {
		width:50px;
		height: 1px;
		background: $brown;
		display: block;
		margin-top:20px;
		margin-bottom: 7px;
	}
}



.contact_map {
	width:62%;
	float:left;
	padding:65px 65px 65px 0;
	height: 519px;
	iframe {
		width:100%;
		height:395px;
		
	
	}
}



@media screen and (max-width: 1365px) {
	
	.contact_wrapper {
		margin-bottom:110px;
	}
	
	.inner_contact_address {
		padding: 160px 30px 125px 65px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
	
	.inner_contact_address {
		padding:130px 30px 0px 40px;
		a.contact_link {
			font-size:33px;
			line-height: 39px;
		}
	}
	
	
	.contact_map {
		padding:40px 40px 40px 0;
		height: 474px;
	}
	
	
	    
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1080px) {
	
	
	.contact_wrapper {
		margin-bottom:80px;
	}
	
	
	
	.inner_contact_address, .contact_map {
		width:100%;
		float:none;
	}
	
	
	.inner_contact_address {
		text-align: center;
		padding: 51px 30px 0px 40px;
		span.contact_line {
			margin-left:auto;
			margin-right:auto;
		}
	}
	
	.contact_map {
		padding:40px;
		height: auto;
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	.contact_wrapper {
		margin: 0px auto 35px;
	}
	
	.inner_contact_address {
		padding: 41px 30px 0px 40px;
		a.contact_link, a.contact_tel {
    	font-size: 26px;
			line-height: 30px;
    }
    a.contact_directions {
	    font-size:12px;
	    letter-spacing: 5px;
	    margin-bottom: 9px;
    }
	}
	
	.contact_map {
		padding:22px;
	}
	
	
	
} /* Media Query */