body.page-template-default {
	header {
		.inner_header {
			box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
		}
	}
}


.main {
	width:100%;
	height:auto;
	min-height: 400px;
	margin:280px 0 158px 0;
}




.inner_main {
	max-width:1500px;
	margin:0 auto;
}

