.sidebar_wrapper {
	width:428px;
	float:left;
	margin-top:10px;
	img {
		max-width: 100%;
		height:auto;
		margin-bottom:35px;
		display: block;
	}
}


.sidebar {
	background: $off_white_two;
	width:100%;
	padding:25px;
	margin-bottom:26px;
	.inner_sidebar {
		border:1px solid $brown;
		ul {
			margin:50px 55px;
			list-style: none;
			li {
				text-transform: uppercase;
				font-family: $libreblack;
				font-size:13px;
				margin-bottom:49px;
				letter-spacing: 2.8px;
				line-height: 18px;
				a {
					text-decoration: none;
					color:$darkblue;
					transition: all .2s ease-in-out;
					&:hover {
						color:$brown;
					}
				}
			}
		}
	}
}



.sidebar.sidebar_bio {
	.inner_sidebar {
		ul {
			li {
				text-transform: none;
				font-family: $libreextrabold;
				letter-spacing: 0;
				font-size: 14px;
				line-height: 22px;
				
				
				
				background:url(#{$themePath}images/dot.png) no-repeat scroll 0 2px;
				list-style: none;
				padding: 0px 0 0 12px;
				margin-bottom:30px;
				a {
					
				}
			}
		}
	}
}


@media screen and (max-width: 1450px) {
	
	.sidebar_wrapper {
		width:428px;
		float:left;
		margin-top:0px;
		margin-right:5%;
	}
	
	
	
	.sidebar {
		.inner_sidebar {
			ul {
				li {
					margin-bottom:37px;
					a {
						
					}
				}
			}
		}
	}
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	
	.sidebar_wrapper {
		width:367px;
		margin-right: 4%;
	}
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
	.sidebar_wrapper {
		display: none;
	}
	
} /* Media Query */