.sidebar_wrapper {
	width:428px;
	float:left;
	margin-top:10px;
	img {
		max-width: 100%;
		height:auto;
		margin-bottom:35px;
		display: block;
	}
}


.sidebar {
	background: $off_white_two;
	width:100%;
	padding:25px;
	margin-bottom:26px;
	.inner_sidebar {
		border:1px solid $brown;
		ul {
			margin:50px 55px;
			list-style: none;
			li {
				text-transform: uppercase;
				font-family: $libreblack;
				font-size:13px;
				margin-bottom:49px;
				letter-spacing: 2.8px;
				line-height: 18px;
				a {
					text-decoration: none;
					color:$darkblue;
					transition: all .2s ease-in-out;
					&:hover {
						color:$brown;
					}
				}
			}
		}
	}
}


.sidebar_wrapper.sidebar_bio_wrapper {
	margin-top:15px;
}



.sidebar.sidebar_bio {
	.inner_sidebar {
		
		ul {
			li {
				text-transform: none;
				font-family: $libreextrabold;
				letter-spacing: 0;
				font-size: 14px;
				line-height: 22px;
				
				
				
				background:url(#{$themePath}images/dot.png) no-repeat scroll 0 2px;
				list-style: none;
				padding: 0px 0 0 12px;
				margin-bottom:30px;
				a {
					
				}
			}
		}
	}
}


.sidebar.sidebar_blog {
	margin-bottom:70px;
	&:first-of-type {
		.inner_sidebar {
			ul {
				margin: 54px 55px;
				li {
					margin-bottom: 36px;
				}
			}
		}
	}
	h3 {
			display: none;
		}
}



span.recent_post_date, a.recent_post_link {
	font-size: 14px;
	line-height: 22px;
} 

span.recent_post_date {
	color:$brown;
	display: block;
}

a.recent_post_link {
	text-transform: none;
	letter-spacing: 0.5px;
}

span.sidebar_title {
	font-size:30px;
	color:$darkblue;
	font-family: $actabold;
	text-transform: lowercase;
	margin-bottom:17px;
	display: block;
	letter-spacing: 0.7px;
}


@media screen and (max-width: 1450px) {
	
	.sidebar_wrapper {
		width:428px;
		float:left;
		margin-top:0px;
		margin-right:5%;
	}
	
	
	
	.sidebar {
		.inner_sidebar {
			ul {
				li {
					margin-bottom:37px;
					a {
						
					}
				}
			}
		}
	}
	
} /* Media Query */



@media screen and (max-width: 1230px) {
	
	
	
	.sidebar_wrapper {
		width:367px;
		margin-right: 4%;
	}
	
	.sidebar.sidebar_bio {
	.inner_sidebar {
		ul {
			margin: 48px 28px;
			li {
				
				a {
					
				}
			}
		}
	}
}

	
	  
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
	.sidebar_wrapper {
		display: none;
	}
	

	
	.sidebar_wrapper.sidebar_bio_wrapper {
		display: block;
		width:45%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.sidebar_wrapper.sidebar_bio_wrapper {
		width:100vw;
		float:none;
		position: relative;
		left: -23px;
		img {
			margin-left:auto;
			margin-right:auto;
			margin-bottom: 25px;
			max-width: 88%;
		}
	}
	
	.sidebar.sidebar_bio {
		padding: 37px 25px;
		.inner_sidebar {
			ul {
				margin:28px;
			}
		}
	}
	
	    
	
	
} /* Media Query */